<div class="container">
  <div class="site-description">
    <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1>About Us</h1>
      <h1><%= @title %></h1>
      <p class="lead">Our mission is to provide students with easy access to an affordable Rental and Subleasing experience.</p>
    </div>
  </div>
</div>

<style>
  body {
    background: url('/assets/background1-sky.png') no-repeat center center fixed;
  }
</style>
