<div class="container">
  <div class="site-description">
    <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1>Feedback</h1>
      <p class="lead">We'd love to hear from you!</p>
    </div>
  </div>
</div>

<style>
  body {
    background: url('/assets/background1-sky.png') no-repeat center center fixed;
  }
</style>

