<div class="container">
  <div class="rent_options">
    <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1>Xplor</h1>
      <p class="lead">Find or List a Rental</p>
      <%= link_to 'Find Rental', rental_options_path(@rental_options_path), :class => "btn" %>
        <p></p>
      <%= link_to 'List Rental', rental_options_path(@rental_options_path), :class => "btn" %>
      </div>
  </div>
</div>

<style>
  body {
    background: url('/assets/background1-sky.png') no-repeat center center fixed;
  }
</style>

