<div class="container">
  <div class="site-description">
    <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1>Your message has been sent.</h1><br>
      <h2>Thank You!</h2>
    </div>
  </div>
</div>

<style>
  body {
    background: url('/assets/background1-sky.png') no-repeat center center fixed;
  }
</style>