/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.nav {
    background: #EF7B45;
}

.nav-link {
    color: #FFF;
    font-weight: bold;
}

.nav-link:hover {
    color: #7dd1ff;
}

.container {
  box-shadow: 0 0 0 10px #fff;
  background-color: #fff;
  line-height: 2.2;
  width: 27em;
  length: 37em;
  border-radius: 30px;
  padding: 5px;
  border: 1em solid #EF7B45;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}

.col-sm-12 {
    text-align: center;
}

.btn {
    width: 16em;
    padding-bottom: 0.6em;
    font-weight: bold;
    border: 10px black;
    background-color: #EF7B45;
    color: white;
    font-size: 20px;
    position: center;
}

.btn:hover {
    color: #7dd1ff;
}

.botcatcher {
    display: none;
}

#toolbar {
    
}

#toolbar-btn {
    width: 13em;
    background-color: white;
}

.greeting {
    left: 0;
    position: relative;
}